@import '../../sass-variables.scss';

.stickyPhone{
    position: fixed;
    height: 54px;
    width: 200px;
    background-color: $main-color;
    bottom: 18px;
    cursor: pointer;
    right: 16px;
    border-radius: 25px;
    z-index: 999999999;
}
.stickyPhoneCallNow{
    color: white;
    position: relative;
    bottom: 30px;
    right: -63px;
    font-size: 25px;
}
.stickyPhoneIcon{
    position: relative;
    bottom: -7px;
    right: -7px;
    i{
        color: white;
        font-size: 38px;
    }
    
}
.stickyPhoneAll{
    width: 200px;
    position: fixed;
    background-color: gray;
    color: white;
    height: auto;
    bottom: 89px;
    right: 16px;
    border-radius: 25px;
    z-index: 999999999;
    text-align: center;
    a{
        color: white;
    }

}
.stickyPhoneClose{
    color: white;
    position: relative;
    bottom: -13px;
    right: -66px;
    font-size: 25px;
}

header{
    z-index: 99999;
    height: 75px;
    position: fixed;
    top:0;
    width: 100%;
    background-color: $navbar-bg;
  
    
    
}

.flex-container{

    margin: 0 auto;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    height: 52px;
    margin-top: 10px;
}
.flex-container{

    a{
        text-decoration: none;
        color: $navbar-text;
    }
    ul{
        margin: 0px;
        flex: 1;
        align-items: center;
        justify-content: space-between;
        display: flex;
    
    }
    li{
        align-self: flex-end;
        padding: 10px;
    }
    
    .logoWrapper{
        margin-left: 20px;
        flex: 1;
        align-self: flex-start;
    }
    .logoWrapperMobile{
        margin-top: 45px;
        margin-left: 20px;
        flex:1;
        align-self: center;
        width: 172px; 
        height: 112px;
   

    }
}
.hamButton{
    margin-right: 20px;
    cursor: pointer;
    i{
        color: $navbar-text;
    }
}
    

    .hamOpen{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: wrap;
    animation-name: fadeMenu;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    
    a{
        text-decoration: none;
        animation-name: fadeMenuItems;
        animation-duration: 1s;
        color: $hamburger-begin-fade;
        
        animation-fill-mode: forwards;
    }
    ul{
        margin: 0 auto;
        margin-top: 60px;
        padding: none;
        display: flex;
        flex-direction: column;
    }
    li{
        margin-left: -37px;
        width:100%;
        padding: 10px;
    }

}
@keyframes fadeMenu {
    0% {background-color: $hamburger-begin-fade; }
    100% {background-color: $hamburger-bg}

}
@keyframes fadeMenuItems {
    0% {color: $navbar-bg}
    100% {color: $hamburger-text }

}
@media only screen and (max-width: 768px) {
    .flex-container{
        justify-content: center;
        text-align: center;
       
    }
    .hamOpen{
        li{
            width: 110%;    
        }
    }
    

}
