@import '../../sass-variables.scss';

header{
    z-index: 99999;
    height: 75px;
    position: fixed;
    width: 100%;
    background-color: $navbar-bg;
  
    
    
}

.flex-container{

    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
    height: 52px;
}
.flex-container{
    width: 100%;
    a{
        text-decoration: none;
        color: $navbar-text;
    }
    ul{
        margin-right: 20px;
        display: flex;
    
    }
    li{
        padding: 10px;
    }
    
    .logoWrapper{
        align-self: flex-start;
        height: 112px;
        width: 172px;
    }
    .logoWrapperMobile{
        align-self: center;
        height: 112px;
        width: 129px;
        margin-top: 44px;
    }
}
.closedHamContainer{
    position: fixed;
    left: 85%;
    top: 35px;
    cursor: pointer;
    i{
        color: $navbar-text;
    }
}
    .hamOpen{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: wrap;
    animation-name: fadeMenu;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    
    a{
        text-decoration: none;
        animation-name: fadeMenuItems;
        animation-duration: 1s;
        color: $hamburger-begin-fade;
        
        animation-fill-mode: forwards;
    }
    ul{
        margin: 0 auto;
        margin-top: 60px;
        padding: none;
        display: flex;
        flex-direction: column;
    }
    li{
        margin-left: -37px;
        width:100%;
        padding: 10px;
    }

}
@keyframes fadeMenu {
    0% {background-color: $hamburger-begin-fade; }
    100% {background-color: $hamburger-bg}

}
@keyframes fadeMenuItems {
    0% {color: $navbar-bg}
    100% {color: $hamburger-text }

}
@media only screen and (max-width: 768px) {
    .flex-container{
        justify-content: center;
    }

}
