

    
        <div class="nav-wrapper">
            <app-topnav></app-topnav>
        </div>    
        
        <div class="site-content-container padNav">
                <div *ngIf="auth.user | async as user">
                        <h3>Hello, {{user.displayName}}</h3>
                        <p>UID: {{user.uid}}</p>
                </div>
            
                <router-outlet></router-outlet>
        </div>
        <footer class="footer-distributed">

			<div class="footer-right">

				<a href="#"><i class="fa fa-facebook"></i></a>
				<a href="#"><i class="fa fa-twitter"></i></a>
				<a href="#"><i class="fa fa-linkedin"></i></a>
				<a href="#"><i class="fa fa-github"></i></a>

			</div>

			<div class="footer-left">

				<p class="footer-links">
					<a href="#">Home</a>
					·
					<a href="#">Blog</a>
					·
					<a href="#">Pricing</a>
					·
					<a href="#">About</a>
					·
					<a href="#">Faq</a>
					·
					<a href="#">Contact</a>
				</p>

				<p>Company Name &copy; 2015</p>
			</div>

		</footer>
 


