.login{
  margin: 0 auto;   
  mat-form-field{
      width: 80%;
  }
}
.buttons{
    margin-top: 35px;
    margin-right: 15px;
}
.closeLogin{
    text-align: right;
}
.closeBtn{
    border: none; 
    background-color:white; 
    outline: none
}
