.mi{
    position: relative;
    img{
        max-width: 100%;
        max-height: auto;
    }
    .img-tag{
        position: absolute;
        right: 0px;
        bottom: 113px;
        width: 150px;
        height: 66px;
        background-color: rgba(0, 0, 0, 0.568); 
        color: white;
    
        font-size: 20px;
    }
    .mi-description{
        height: 115px;
        .mi-name{
            margin-top: -30px;
        }
        .mi-btn{
        margin-top: -35px;

            button{
                height: 42px;
                width: 140px;
                color: white;
                span{
                    font-size: 20px;
                }
            }
        }
    }
}