
    $navbar-bg: white;
    $navbar-text: #444;
    $hamburger-text: white;
    $hamburger-begin-fade: rgba(255, 255, 255, 0.0); 
    $hamburger-bg: #444;
    $paragraph: #777575;
    $main-color: #d07ea7;
    $main-color-disable: #b15e87
