



<div>
  <div class="example-container">
    <mat-form-field>
        <mat-select [formControl]="categoryForm" placeholder="Category">
          <mat-option value="sandviches">Sandviches</mat-option>
          <mat-option value="meals">Meals</mat-option>
          <mat-option value="sides">Sides</mat-option>
          <mat-option value="salads">Salads</mat-option>
          <mat-option value="beverages">Beverages</mat-option>

          
        </mat-select>
      </mat-form-field>
    <mat-form-field>
      <input [formControl]="nameForm" matInput placeholder="Name">
    </mat-form-field>
    <mat-form-field>
        <textarea [formControl]="descriptionForm" matInput placeholder="Description"></textarea>
      </mat-form-field>
    <mat-form-field>
      <input [formControl]="pricesForm" matInput placeholder="Prices (10,15,20)">
    </mat-form-field>
    <mat-form-field>
      <input [formControl]="sizesForm" matInput placeholder="Sizes (Small,Medium,Large)">
    </mat-form-field>
    <button (click)="addMenuItem()" mat-raised-button color="primary">Add Item to Menu</button>
    
  
    
  </div>
  <div class = "col" *ngFor="let mi of menuItems | async">
      <h5>{{mi.data.name}} - <span (click)="deleteItem(mi.id)" style="color: red">DELETE</span></h5>
    </div>


</div>
<div class="padNav"></div>
